/* botão criar */
.create-character-btn {
  margin-top: 10px;
  width: fit-content;
}

/* grid */
.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

/* card */
.character-card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 40px; /* espaço pro botão delete */

  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-height: 120px;
  justify-content: space-between;

  transition: 0.2s;
}

.character-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* header */
.character-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dbeafe;
}

/* nome */
.character-header h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

/* tag */
.tag {
  font-size: 12px;
  background: #dbeafe;
  color: #2563eb;

  padding: 4px 10px;
  border-radius: 20px;
}

/* descrição */
.character-desc {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*  CORES */

.character-bars {
  display: flex;
  gap: 6px;
  margin-top: 6px;
}

.character-bars div {
  width: 36px;       
  height: 36px;      
  border-radius: 6px;
}

/*  AÇÕES */

.character-card .card-actions {
  pointer-events: none;
}

.character-card .card-actions button {
  opacity: 0;
  transition: 0.2s;
  pointer-events: auto;
}

.character-card:hover .card-actions button {
  opacity: 1;
}

/* posições */
.character-card .edit {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}

.character-card .delete {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 2;
}


