:root {
  --bg: #ff8faf;
  --card: #ffffff;
  --text: #222;
  --text-light: #666;
  --border: #e5e5e5;

  font-family: system-ui, -apple-system, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #ffc8ac63;
  z-index: -1;
}

h1 { font-size: 28px; margin-bottom: 10px;}
h2 { font-size: 20px; margin-top: 20px; }
h3 { font-size: 16px; margin-bottom: 1px; }

p { margin-top: 3px; margin-bottom: 4px }

input, textarea, select {
  width: 100%;
  margin: 8px 0 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
