.btn {
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 14px;

  transition: all 0.2s ease;
}

.btn-primary {
  background: linear-gradient(135deg, #f6c667, #f2a93b);
  color: white;

  box-shadow: 0 6px 16px rgba(242,169,59,0.35);
}

.btn-primary:hover {
  transform: translateY(-1px);
}

.create-project-btn {
  padding: 14px 22px;
  font-size: 15px;
  border-radius: 14px;
  width: fit-content;
}

.btn-secondary {
  background: #f3f3f3;
  color: #555;
  border: 1px solid #e5e5e5;
}

.btn-secondary:hover {
  background: #e7e7e7;
}

.btn-danger {
  background: linear-gradient(135deg, #ef4444, #dc2626);
  color: white;

  box-shadow: 0 8px 20px rgba(239,68,68,0.3);
}

.btn-danger:hover {
  transform: translateY(-1px);
}

.tag-item button.remove-btn {
  position: absolute;
  top: -6px;
  right: -6px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: none;

  background: #ef4444;
  color: white;

  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;
  transition: 0.2s;
}
